.table-striped tr.active {
  background-color: #116cd6;
  color: #fff;
  font-weight: normal;
}

.table-striped tr.selected {
  font-weight: bold;
}

.title {
  font-size: 14px;
  font-weight: bold;
}
