.cmp-widget-library-process {
  width: 400px;
  heght: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  line-height: 30px;

  div {
    padding: 0 0 0 50px;
  }

  progress {
    width: 230px;
  }
}
